
* {
    background-color: lightblue;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color: white; 
    font-family: 'Courier New', Courier, monospace;
}

.h1menu{
    padding-left: 1em;
}

h4.desc{
    color: green;
    font-style: italic;
}

ul.recipemenu li {
    display: inline;
}

li {
    font-size: 14px;
    padding-right: 0.5em;
}

#try{ 
    color: white;
}

.welcomepagemenu{
    margin: 1em auto;
    width: 400px;
} 


